*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(90deg, rgba(19,88,134,1) 42%,
    rgba(25,136,199,1) 70%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    width: 70%;
    display: flex;
    margin: 40px auto;
}

.title, .result{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-size: 30px;
}

.grid{
    
    background-color:#7e867bc0;
    border: solid 4px #212220;
    border-radius: 2px;
   
}

.baskhara{
    width: 100%;
    text-align: center;
}

.results{
    text-align: center;
    }

.result{
    text-align: center;
    padding-top: 20px;
    }
    
.submitBtn{
    
    margin: 15px auto;
}

.submit{
    width: 80px;
    height: 30px;
}

.coefficients{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.coefficients h6{
    align-self: center;
    padding: 10px 10px;
    font-size: 20px;
}

input{
    width: 30px;
    height: 30px;
}


@media (max-width: 500px){
    body{
        background: rgb(19,88,134);
    }
    
    input{
        width: 50px;
        height: 50px;
    }

    .coefficients h6{
        font-size: 20px;
    }

    .results{
        display: flex;
        width: 80%;
        margin-left: 10%;
        flex-direction: column;
    }
    
    .submit{
    height: 50px;
    width: 100px;
    font-size: 18px;
    margin: 15px auto;
}

}

@media (max-width: 426px){

    body{
        background: rgb(19,88,134);
        width: 100%;
    }

    .title{
        font-size: 24px;
    }

    .grid{
        margin: auto;
        width: 95%;

    }

    .coefficients h6{
        font-size: 20px;
    }

    input{
        font-size: 20px;
    }
    
    .submit{
    height: 50px;
    width: 100px;
    font-size: 18px;
    margin: 15px auto;
}
}
